<?xml version="1.0"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>

  </appSettings>

  <connectionStrings>
    <add name="MissNancy" connectionString="Data Source=DEWAYNE-PC;Initial Catalog=KCCVBS_BE_SQL;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
